### 1.Print Statement:

In [11]:
print("Welcome to Assignment-1")

Welcome to Assignment-1

### 2. Addition of two numbers:

In [3]:
number1 = int(input("Enter the first number:"))
number2 = int(input("Enter the second number:"))
addition = number1 + number2
print("Num1= ",number1)
print("Num2= ",number2)
print("Add= ",addition)

Enter the first number: 10
Enter the second number: 30

Num1=  10
Num2=  30
Add=  40

### 3. Body Mass Index - BMI:

In [27]:
bmi = int(input("Enter the BMI Index: "))
if(bmi < 18.5):
    print("Underweight")
elif(bmi < 24.9):
    print("Normal weight")
elif(bmi < 29.9):
    print("Overweight")
elif(bmi >= 30):
    if(bmi < 34.9):
        print("Obese class I")
    elif(bmi < 39.9):
        print("Obese class II")
    else:
        print("Obese class III")

Enter the BMI Index:  31

Obese class I

## Extra Assignment1:

### print Statement:

In [35]:
print("HOPE AI")

HOPE AI

## Buy input:

In [39]:
institute_name = input("Enter your institute name? : ")

Enter your institute name? :  HOPE AI

## Buy inputs:

In [43]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
school_name = input("Enter your school name: ")
degree = input("Enter your degree: ")

Enter your name:  Dinesh
Enter your age:  35
Enter your school name:  Sacred Heart
Enter your degree:  BCA, MBA

### Addition:

In [47]:
a = int(input("a= "))
b = int(input("b= "))
add = a+b
print("add = ", add)

a=  43
b=  34

add =  77

### Subtraction:

In [52]:
a = int(input("a= "))
b = int(input("b= "))
sub = a-b
print("Sub = ", sub)

a=  43
b=  34

Sub =  9

### Multiplication:

In [57]:
a = int(input("a= "))
b = int(input("b= "))
multiply = a*b
print("Mul = ", multiply)

a=  63
b=  97

Mul =  6111

### Division:

In [60]:
a = int(input("a= "))
b = int(input("b= "))
division = a/b
print("Float Div = ", division)

a=  76
b=  31

Float Div =  2.4516129032258065

### Floor Division:

In [65]:
a = int(input("a= "))
b = int(input("b= "))
division = a//b
print("Floor Div = ", division)

a=  76
b=  31

Floor Div =  2

###  Modulo:

In [68]:
a = int(input("a= "))
b = int(input("b= "))
modulus = a%b
print("Modulo = ", modulus)

a=  76
b=  31

Modulo =  14

### Power:

In [73]:
a = int(input("a= "))
b = int(input("b= "))
power = a**b
print("Power = ", power)

a=  4
b=  4

Power =  256

# Extra Assignment 2:

### print 0 to 20 by using range:

In [78]:
for each_num in range(0,20):
    print(each_num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

### print range 10 to 20:

In [87]:
for each_num in range(10,20):
    print(each_num,end=" ")

10 11 12 13 14 15 16 17 18 19

### Print number of items in the list by using 'len' :

In [115]:
lists = [10,20,14,55,43,87,76]
print(lists)
print("Number of item in the List2:\n",len(lists))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
 7

In [119]:
string = input()
for each_letter in string:
    print(each_letter)

 Artificial Intelligence

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [121]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

### print this mixed datatypes using tuples:

In [126]:
tuple1 = (1, 'Welcome', 2, 'Hope')
print(tuple1)

(1, 'Welcome', 2, 'Hope')

In [128]:
tuple2 = (0,1,2,3)
tuple3 = ('python', 'HOPE')
tuple4 = (tuple2,tuple3)
print(tuple4)

((0, 1, 2, 3), ('python', 'HOPE'))

### print odd numbers in the list:

In [151]:
tuple5 = (20,10,16,19,25,1,276,188)
print(tuple5)
for each_num in tuple5:
    if ((each_num % 2 == 1)):
        print(each_num, "is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

### print even numbers in the list:

In [155]:
tuple5 = (20,10,16,19,25,1,276,188)
print(tuple5)
for each_num in tuple5:
    if ((each_num % 2 == 0)):
        print(each_num, "is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even

# Extra Assginment 3:

### print 'CORRECT' if i == 10:

In [165]:
number = int(input("value: "))
if number == 10:
    print("CORRECT")
else:
    print("INCORRECT")

value:  10

CORRECT

In [171]:
string = input("Enter the password: ")
if string == 'HOPE@123':
    print("Your pasword is correct")
else:
    print("Your pasword is Incorrect")

Enter the password:  HOPE@123

Your pasword is correct

### Category the people by their age like children, adult, citizen, senior citizen...

In [190]:
age = int(input("age: "))
if age <= 18:
    print("Children")
elif age <= 40:
    print("Adult")
elif age <= 59:
    print("Citizen")
else:
    print("Senior Citizen")

age:  20

Adult

### Find given number is positive or negative:

In [201]:
number = int(input("Enter any number: "))
if number > 0:
    print("No is Positive")
else:
    print("No is Negative")

Enter any number:  1

No is Positive

### Check whether the given number is divisible by 5:

In [208]:
number1 = int(input("Enter any number: "))
if number1 % 5 == 0:
    print("No is divisible by 5")
else:
    print("No is not divisible by 5")

Enter any number:  22

No is not divisible by 5